<style>
body{
  font-size:13px;
}
button[value="Set"]{
  background-color: #00a65a;
  border-color: #008d4c;
  width: 150px;
  border-radius: 6px;
}
button[value="Set"]:before{
font-family: FontAwesome;
content: "\f0ad";
position: absolute;
color:white;
margin-left: -20px;
}

button[value="Reset"]{
  background-color: #00a65a;
  border-color: #008d4c;
  width: 150px;
  border-radius: 6px;
}
button[value="Reset"]:before{
font-family: FontAwesome;
content: "\f0e2";
position: absolute;
color:white;
margin-left: -20px;
}

button[value="Save configuration"] {
  display: none;
}
.nextpage {
  background-color: #00a65a;
  color: #584b4b;
  border-radius: 6px !important;
  padding-right:22px !important;
}
.nextpage:after{
  font-family: FontAwesome;
  content: "\f138";
  position: absolute;
  color:white;
  margin-left: 6px;
}
#addmore {
  margin-bottom: 50px;
}
</style>
